body {
    background-color: whitesmoke;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    user-select: none;
}

.inputBox, ul {
    border-radius: 20px;
    background-color: snow;
}
.inputBox {
    padding: 10px;
    margin-top: 40px;
    display: inline-block;
}
ul {
    text-align: left;
    list-style: none;
    padding-left: 15px;
    margin: 15px auto;
    max-width: 515px;
    font-size: 30px;
}
h1 {
    font-size: 40px;
    margin-bottom: 40px;
}
#taskInput, #createTaskButton {
    border: none;
    font-size: 30px;
    border-radius: 15px;
    padding: 15px;
}
#taskInput {
    background-color: whitesmoke;
    transition: 0.1s;
}
#taskInput:focus{
    background-color: antiquewhite;
}
#createTaskButton {
    margin-left: 10px;
    cursor: pointer;
    transition: 0.1s;
}
#createTaskButton:hover{
    background-color: antiquewhite;
}
#checkBoxInput{
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 5px;
    margin-right: 5px;
}
#checkBoxInput:hover {
    transform: scale(1.10);
}
#checkBoxInput:checked + #task {
    text-decoration: line-through black;
    opacity: 0.2;
    transform: scale(0.95);
    transition: 0.3s;
}  
#task {
    transition: 0.3s;
}
span {
    display: flex;
    margin-bottom: 5px;
    border-radius: 20px;
    transition: 0.1s;
}
span:hover {
    background-color: lightgrey;
}
#deleteButton {
    position: absolute;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    transition: 0.5s;
    right: 504px;
}
#deleteButton::after {
    content: 'x';
    color: black;
    font-size: 15px;
}
#deleteButton:hover{
    background-color: grey;
    transform: scale(1.05);
}